html {
    font-size:  inherit !important;
}
.dsm_sales-item-quantity {
	text-align: center;
	width: 60px !important;
}
.dsm_body {
	background: #faf9fb !important;
    
}

.dsm_body a, .dsm_body a:link, .dsm_body a:visited {
	color: #333;
}

.dsm_body a:hover {
	color: #660087 !important;
}

.dsm_body .page-content h1, .dsm_body .page-content h2, .dsm_body .page-content h3, .dsm_body .page-content h4, .dsm_body .page-content h5, .dsm_body .page-content h6,
.dsm_body .page-content .h1, .dsm_body .page-content .h2, .dsm_body .page-content .h3, .dsm_body .page-content .h4, .dsm_body .page-content .h5, .dsm_body .page-content .h6 {
    font-family: "Ubuntu",Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-weight: 500 !important;
    line-height: inherit !important;
    color: inherit !important;
}

.dsm_body .list-unstyled {
	list-style: none !important;
}

#dsm-tab-content table, th, td {
    border: none;
}
.dsm_body .tab-content h4, .dsm_body .tab-content .h4 {
    font-size: 18px !important;
}
.dsm_body button, .dsm_body button[disabled]:hover, .dsm_body button[disabled]:focus, .dsm_body input[type="button"], .dsm_body input[type="button"][disabled]:hover, .dsm_body input[type="button"][disabled]:focus, .dsm_body input[type="reset"], .dsm_body input[type="reset"][disabled]:hover, .dsm_body input[type="reset"][disabled]:focus, .dsm_body input[type="submit"], .dsm_body input[type="submit"][disabled]:hover, .dsm_body input[type="submit"][disabled]:focus {
    text-transform:none;
}

.no-sidebar .entry-content, .dsm_body .no-sidebar .page-header {
   margin-right: 0 !important;
    margin-left: 0 !important; 
}

.dsm_body .navbar-nav li a, #m-dd li a {
    line-height: 50px;
    height: 50px;
    padding-top: 0;
}
.dsm_body .nav-sidebar a {
	color: #eee;
}

.dsm_body .page-header {
    border-top: 0px !important;
    padding-top: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 20px !important;
}

.dsm_body .page-header h2 {
    margin-bottom: 10px !important;
}

.dsm_body .dsm-header {
    padding-left:20px;
}

.dsm_body .entry-content .nav a {
    box-shadow: none !important;
}
.dsm_body .nav-pills {
    margin-bottom:16px;
}
.dsm_body .tab-pane {
    padding-top:0px;
}

.dsm_body .nav-tabs {
    padding: 0px !important;
}

.dsm_body .form-signin {
    max-width: 350px;
    padding: 15px;
    margin: 0 auto;
}

.dsm_body div.schedule {
	margin: 4px;
	padding: 10px 30px;
	border: 1px;
	border-bottom: 1px solid silver;
}
.dsm_body div.schedule h3 {
	margin-bottom: 10px;		
}
.dsm_body div.schedule h4 {
	color: gray !important;
    text-transform: none;
}

.dsm_body div.tab-content h3 {
	margin-bottom: 10px;
}
.dsm_body div.tab-content h4 {
	margin: 15px 0 !important;
}
.dsm_body div.tab-content span {
	font-weight: 400;
}

#dsm_calendar {
    margin-top:30px;
}
#dsm_loading {
	position: fixed;
	top: 30%;
	right: 47%;
	z-index: 9999;
	display: none;
}

.dsm_body .modal-title {
    margin: 0px !important;
    display: inline-block;
}

.dsm_body .modal-body ul, .modal-body ol {
    margin-left:20px;
}

.dsm_body div.tab-content span {
    font-weight: 400;
}

.dsm_body .signature canvas {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dsm_body .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.dsm_body .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

/* Class list */
/* bootstrap: fix content width inside hidden tabs */
.dsm_body .classes-list > .tab-pane:not(.active),
.dsm_body .classes-list > .pill-pane:not(.active) {
    display: none !important;
    overflow-y: hidden;
     overflow-x: hidden;
    padding:0px;
} 
/* bootstrap hack end */
.dsm_body #current-date {
	display: inline-block; 
	height: 22px;
    width: 240px;
}
.dsm_body #current-date input[name=currentdate] {
	border: 0 !important;
	background-color: transparent;
	text-align: center;
	font-weight: 500;
	cursor: pointer;
	-webkit-box-shadow: none;
}
.dsm_body #current-date input[name=currentdate]:hover {
	text-decoration: underline;
}

@media only screen and (min-width:769px) {
	.dsm_body #current-date input[name=currentdate] {
		font-size: 14pt;
	}
}
@media only screen and (max-width:768px) {
	.dsm_body #current-date input[name=currentdate] {
		font-size: 11pt;
	}
    
    .dsm_body .table_mobile_block > tbody > tr > td {
        display:inline-block;
        border:none !important;
    }
    
    .dsm_body .table_mobile_block > thead > tr > th{
        display:none;
        border:none !important;
    }
    
    .dsm_body div.tab-content .schedule .book-now {
        top:0px;
        float:left;
        margin-bottom:0px
    }
}