/*
#660087 - lite purple
#3c1053 - dark purple

*/

.dsm_body #dsm_content a, .dsm_body #dsm_content a:link, .dsm_body #dsm_content a:visited {
	color: #333;
}

.dsm_body #dsm_content a.btn-success, .dsm_body #dsm_content a.btn-success:link, .dsm_body #dsm_content a.btn-success:visited
{
	color: #fff;
}

.dsm_body .dsm_body #dsm_content a:hover {
	color: #660087 !important;
}

/*.sidebar {
    background-color: #660087 !important;
}*/	

.dsm_body .nav-sidebar a {
	color: #eee;
}

.dsm_body .of2 > .nav-sidebar > li > ul > li > a,
.dsm_body .nav-sidebar > li > a:hover,
.dsm_body .nav-sidebar a:hover {
	color: #fff !important;
	background-color: #3c1053 !important;
}

.dsm_body .of2 > .nav-sidebar > li > ul > li > a:hover {	
/* 	color: #fff !important; */
	background-color: #3c1053 !important;	
}

.dsm_body .navbar-inverse {
	background-color: #3c1053 !important;	
}

.dsm_body .navbar-inverse .navbar-nav>li>a:hover, 
.dsm_body .navbar-inverse .navbar-nav>li>a:focus,
.dsm_body .dropdown-menu>li>a:hover {
	background-color: #660087 !important;
	color: #fff !important;
}

.dsm_body .btn-primary {
    background-color: #660087 !important;
	border-color: #660087 !important;	
	color: #fff !important;
}

.dsm_body .btn-primary:hover {
	background-color: #3c1053 !important;	
	border-color: #3c1053 !important;
	color: #fff !important;
}

.dsm_body .btn-default, .dsm_body .btn-info {
    background-color: #3c1053 !important;	
	border-color: #3c1053 !important;		
	color: #fff !important;
}

.dsm_body .btn-default:hover {
    background-color: #660087 !important;	
	border-color: #660087 !important;	
	color: #fff !important;
}



.dsm_body .panel-primary {
	border-color: #660087 !important;		
}

.dsm_body .panel-primary>.panel-heading {
    background-color: #660087 !important;
	border-color: #660087 !important;		
	color: #fff !important;
}

.dsm_body .panel-primary>.panel-heading:hover {
    background-color: #3c1053 !important;
	border-color: #3c1053 !important;		
	color: #fff !important;
}

.dsm_body .panel-primary>.panel-heading a:hover {
	color: #fff !important;	
}

.dsm_body .nav-tabs>li>a:hover {
	color: #3c1053 !important;
}

.dsm_body .pagination>li>a, .dsm_body .pagination>li>span, .dsm_body .pagination>li>a, .dsm_body .pagination>li>span {
	color: #3c1053 !important;	
	border-color: #660087 !important;	
}

.dsm_body .pagination>li>a:hover, .dsm_body .pagination>li>span:hover, .dsm_body .pagination>li>a:focus, .dsm_body .pagination>li>span:focus {
	border-color: #3c1053 !important;	
}


.dsm_body .navbar-inverse .navbar-nav>.active>a, .dsm_body .navbar-inverse .navbar-nav>.active>a:hover, .dsm_body .navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #660087 !important;		
}
